*{
  padding: 0px;
  margin: 0px;
}
body{
  font-family:'Nanum Gothic', sans-serif;                /*letra gotica*/
  background:#333;                                     /*fondo general*/
}
.bienvenida{                                             /*debe desaparecer*/
  color: #B172FF;                                      /*color de la letar*/
  text-align: center;                                    /*Centro el texto*/
  border: 2px solid #575757;                           /*le pongo*/
  background: #000000;                                 /*le cambio el fondo al h1*/
  padding: 14px 30px;                                    /*determino lo interno*/
  margin: 10px 25% 10px 25%;                             /*determino los margenes en proporcion al exterior*/
}
a{
  text-decoration: none;                                 /*le quito la linea de abajo*/
  color: #ffffff;                                      /*lo hago blanco*/
}
a:hover{                                                 /*sirve para cuando pasas el mouse por ensima*/
  text-decoration: none;                                 /*le quito la linea de abajo*/
  color: #A6A6A6;                                      /*el color de la letra*/
}
li{
  list-style-type: none;                                 /*le quito los puntos a la listas*/
  display: inline-block;
  color: white;                                        /*le cambie el color a los elementos de la lista*/
}
ul{                                                      /*para centrar las palabras de la lista*/
  text-align: center;
  padding-left: 0px;
}
form, .margin{
  margin:auto;                                           /*lo puse para centrar el formulario*/
}
.search{
  background-color: #353535;                           /*cambiar el color al buscador*/
  color:#ADADAD;                                       /*cambiar el color de las letras*/
}
.search[type=search]:focus {
  background-color: black;                             /*cambiar el color al buscador cuando esta activado*/
  color: white;                                        /*cambiar el color de las letras cuando esta activado*/
}
.my-form{
  display: flex;
  justify-content: center;
}
.dropdown-menu{
  right: 0px;
  left: auto;
  background: #343a40;
}
.dropdown-item{
  color: rgb(177, 114, 255);
}
.dropdown-item:hover{
  color:white;
  background: #454d58;
}
.dropdown-divider{
  border-top:1px solid #6d7a87;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(177, 114, 255)
}
.nav-link:hover {
    color: rgba(255,255,255,.75);
    background: #454d58;
}
button{
  margin: 0px 3px 0px 0px;
}
hr{
  border-width: 3px
}

/*---------Paguina principal-------------------------------------*/


/*aca le cambio los colores de letra fondo y borde al boton*/
.column-mio img:hover {
  border: solid 1px gray;
}
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 0px; 
  margin-left: 0px; 
}
.column-mio {
  -ms-flex: 16.6666%; 
  max-width: 16.6666%;
  padding: 1px;
}
.column-mio img {
  margin-top: 3px;
  vertical-align: middle;
  width: 100%;
}
.column-mio img:hover {
  border: solid 1px gray;
}
@media screen and (max-width: 1600px) {
  .column-mio {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 1020px) {
  .column-mio {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0px;
  }
  .column-mio img {
  margin-top: 1px;
  }
  .bienvenida{
    display: none;
  }
  footer{
    font-size: 0.7rem
  }
}
/*registration-----------------------------------*/

.sign-up{
}
.sign-up label{
  color: #B172FF;
}
.User-Registration{
  color: #B172FF;
  border: 2px solid #575757;
  background: #000000;
  padding: 5px;
  margin:5px;
  min-width: 400px;
}
.texto{
  margin:5px;
  margin-right: 20px;
}
input{
  background: #595959
}
@media screen and (max-width: 800px) {
  .column-mio {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0px;
  }
  .column-mio img {
  margin-top: 1px;
  }
  .User-Registration{
    display: flex;
  }
  footer{
    font-size: 0.7rem
  }
}

/*Perfil usar-----------------------------------*/


.desc{/*es la barra de navegacion*/
  background: #5f5f5f;
  border: #73288c6b 2px solid;
  border-left: none;
  border-right: none;
}
.desc ul{
  margin-bottom: 0px;
}
.desc ul li{
  background: black;
  border: solid white 1px;
  border-radius: 5px;
  padding: 5px;
}
/*biografia*/
.img-perfil{
  height: auto;
  max-width: 400px;
  min-width: 240px;
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: auto;
}
p.dato{
  text-align: center;
  color:white;
}
#nombre{
  font-size: 40px;
}
#area{
  font-size: 30px;
}





/*Conectarse--------------------------------------*/

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
.login {
  background-color: #4536a7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.login2 {
  background-color: #f00000a1;
}
button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  border: 1px solid #7160bd80;
  width: 25%;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


