.main-box {
  color: var(--pink);
  border: 2px solid var(--gray);
  background: var(--black);
  padding: 5px;
  margin: 5px;
  min-width: 400px;
}

/*

:root {
  --small: 40rem;
  --medium: 64rem;
  --large: 87.5rem;
}
*/
@import url('./style/colors.css');
@import url('./style/footer.css');
@import url('./style/profile.css');
@import url('./style/gallery.css');
@import url('./style/sign_up.css');

body {
  margin: 0;
  font-family:'Nanum Gothic', sans-serif;
}

.layout {
  background: var(--gray-hard);
  min-height: 100vh;
}

code {
  font-family: source-code-pro;
}
hr{
  border: 1px solid var(--light-gray);
}
.boton-link{
  border: none;
  background-color: transparent;
  color: var(--light-blue);
}
.boton-link:hover{
  color: var(--light-blue2);
}
.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Moral para conectarse*/
.modal-Sesion > div{
  background-color: var(--gray-hard2) !important;
  color: var(--white);
}

/*Info del sitio*/
.info{
  font-size: 50px
}


/*Index*/
.form-inline{/*para centrar el boton del buscador*/
  justify-content: center
}
#basic-navbar-nav{/*Es para la barra para cuando se achica*/
  text-align: center;
}
.desplegable > div{/*modal de mi usuario*/
  right: 0px;
  left: auto;
  background: var(--gray-hard2);
}
/*separador del mi usuario*/
.dropdown-item{
  color: var(--white) !important;
}
.dropdown-item:hover{
  color: var(--black) !important;
}
.dropdown-divider{                                       /*el separador del desplegable*/
  border-top:1px solid var(--light-green);
}

.error{
  color: var(--red);
}


/*Subida*/

.subida-box{
  border: 1px var(--white) solid;
  background: var(--black);
  margin-top: 50px;
  margin-bottom: 400px;
}
.previa{
  columns: var(--white);
  width: 300px;
  border: 1px solid var(--white);
  height: 300px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previa > p{
  color:  var(--white);
}
input[type=file]{
  display: none;
}
.form-de-subida{
  display: flex;
  flex-direction:column;
  margin: auto;
}
#titulo-subida{
  margin: auto;
  width: 200px;
  height: 60px;
  font-size: 30px;
  text-align: center;
}
div > textarea{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
}
.boton-subir{
  width: 100px;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .subida-box{
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
/*Perfil Dibujo*/
.dibubo-presentacion{
  background: var(--gray-hard2);
  border-right: 3px var(--black) solid
}
.dibujo-icono{
  display: block ;
  margin: auto ;
  margin-top: 10px ;
  width: 40px;
  border-radius: 100%;
  margin-bottom: 5px ;
}

.dibujo-dibujo{
  display: block;
  margin: auto;
  width: 100%;
}

/*mensajes*/
/*
.caja-contactos{
  padding: 0px;
}
.contactos-titulo{
  text-align: center;
  font-size: 25px;
  color: white;
  background: #8c93ef;
  border: 2px white solid;
  border-radius: 30px 30px 0px 0px;
}
.contactos-titulo > p{
  margin: 0px;
}
.contactos{
  background: #000000;
  border: 2px white solid;
  border-top: none;
  border-radius: 0px 0px 30px 30px;
  padding-top: 15px;
  font-size: 20px;
  padding-left: 20px;
}

.chat{
  padding: 0px;
}
.titulo-chat{
  font-size: 20px;
  color: white;
  background: #5359b378;
  border: 2px white solid;
  border-radius: 20px 20px 0px 0px;
}
.titulo-chat > p{
  margin: 0px;
  margin-left: 10px;
}
.caja-chat{
  display: flex;
  flex-flow: column wrap;
  background: white;
  border: 2px white solid;
  border-top: none;
}


.mensaje{
  display: block;
  word-wrap: break-word;
  text-align: center;
  background-color: red;

}
.receptor{
  justify-content: flex-end;

}
.emisor{

}

.mensaje > p {
  color: black;
}
/*
.caja-mensajes{
  border: blanchedalmond 1px solid;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.emisor{
  background: #6ab995;
}
.receptor{
  display: flex;
  justify-content: flex-end;
  background: #707bad;
}
.texto-mensaje{
  word-wrap: break-word;
  margin-top: auto;
  margin-bottom: auto;
}
.mensaje-caja{
  margin: 5px;
  display:flex;
}
.contacto-mensaje{
  background: black;
  height: 30px;
  border: white 2px solid;
  border-radius: 20px 20px 0px 0px;
}
.text-a-enviar{
  margin: 0px;
  border: none;
  border-radius: 30px 0px 0px 30px;
  border: black 2px solid;
  border-right: none;
  padding: 10px;
}
.enviador{
  background: #6676c3;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 30px 30px 0px;
  border: black 2px solid;
  border-left: none;
}
*/
/*Configuraciones de usuario*/
.boton-configuracion{
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
