hr{
  border: 1px solid rgba(168, 168, 168, 0.404);  /*le di un toque de estilo al separador*/
}

.boton-link{
  border: none;
  background-color: transparent;
  color: #448bd8;
}
.boton-link:hover{
  color: #8cc0f8;
}
.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Moral para conectarse*/
.modal-Sesion > div{
  background-color: #383945 !important;
  color:white
}


/*Info del sitio*/
.info{
  font-size: 50px
}

/*Index*/
.form-inline{/*para centrar el boton del buscador*/
  justify-content: center
}
#basic-navbar-nav{/*Es para la barra para cuando se achica*/
  text-align: center;
}
.desplegable > div{/*modal de mi usuario*/
  right: 0px;
  left: auto;
  background: #343a40;
}
.dropdown-item{/*separador del mi usuario*/
  color: white !important;
}
.dropdown-item:hover{
  color: black !important;
}
.dropdown-divider{                                       /*el separador del desplegable*/
  border-top:1px solid #6d7a87;
}

.error{
  color: #d33232;
}

/*Perfil*/
.datos{
  color:white;
  margin: auto;
}
.img-perfil{
  height: auto;
  max-width: 400px;
  min-width: 40px;
  width: 100%;
  border-radius: 50%;
  display: block;
  margin: auto;
}
.dato{
  color:white;
  margin: auto;
}

#usuario-perfil{
  font-size: 3vw;
}
#especialidad-perfil{
  font-size: 2.5vw;
}
#area{
  font-size: 30px;
}
.datos-secundarios{
  font-size: 1.9vw;
}
.vistas{
  display: flex;
  list-style-type: none;
  justify-content:center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background-color: #718894;
  border-radius: 30px;
}
.vistas >li > button{
  background: wheat;
  border: none;
  font-size: 20px;
}
.vistas >li > button:hover{
  background: rgb(63, 51, 51);
  color: white;
}

@media screen and (max-width: 800px) {
  .img-perfil{
    width: 80%;
  }
  .vistas >li > button{
    font-size: 15px;
  }
  .datos-secundarios{
    display: none !important;
  }
  #usuario-perfil{
    font-size: 6vw;
  }
  #especialidad-perfil{
    font-size: 5vw;
  }
}

/*Registrarse*/
.registro{
  color: #B172FF;
  border: 2px solid #575757;
  background: #000000;
  padding: 5px;
  margin:5px;
  min-width: 400px;
}

.boton-registrarme{
  width: 120px;
  margin: auto;
}
.terminos > h2{
  margin:5px;
  margin-right: 20px;
}
.terminos > p{
  margin:5px;
  margin-right: 20px;
  overflow: auto;
  height: 530px;
}

@media screen and (max-width: 1020px) {
  .container{
    margin-top: 40px;
  }
}


/*Subida*/

.subida-box{
  border: 1px white solid;
  background: black;
  margin-top: 50px;
  margin-bottom: 400px;
}
.previa{
  columns: white;
  width: 300px;
  border: 1px solid white;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previa>p{
  color: white;
}
input[type=file]{
  display: none;
}
.form-de-subida{
  display: flex;
  flex-direction:column;
  margin: auto;
}
#titulo-subida{
  margin: auto;
  width: 200px;
  height: 60px;
  font-size: 30px;
  text-align: center;
}
div > textarea{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
}
.boton-subir{
  width: 100px;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .subida-box{
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

/*Perfil Dibujo*/

.dibubo-presentacion{
  background:#523f3f;
  border-right:3px black solid
}
.dibujo-icono{
  display: block ;
  margin: auto ;
  margin-top: 10px ;
  width: 40px;
  border-radius: 100%;
  margin-bottom: 5px ;
}
.dibujo-dibujo{
  display: block;
  margin: auto;
  width: 100%;
}


/*Configuraciones de usuario*/
.boton-configuracion{
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

