@import url('../../css/main.css');

.welcome {
  font-size: 1 rem;
  color: var(--color-neon-pink);
  text-align: center;
  border: 2px solid var(--color-light-gray);
  background: var(--color-black);
  padding: 14px 30px;
  margin: 30px 25% 30px 25%;
}

@media screen and (max-width: 1020px) {
  .welcome {
    display: none;
  }
}

.caja-dibujo{
  display: flex;
  float: left;
  box-sizing: border-box;
  padding: 1.5px;
}
.dibujo-galeria{
  width: 100%;
  height: 400px;
  object-fit: cover;
  align-content:flex-start;
}
.dibujo-galeria:hover{
  border: var(--color-black) 1.5px solid;
}
@media screen and (min-width:300px){
  .caja-dibujo{
    width: 33%;
  }
  .dibujo-galeria{
    height: 100px;
  }
}
@media screen and (min-width:400px){
  .caja-dibujo{
    width: 33%;
  }
  .dibujo-galeria{
    height: 133px;
  }
}
@media screen and (min-width:500px){
  .caja-dibujo{
    width: 33%;
  }
  .dibujo-galeria{
    height: 166.6666px;
  }
}
@media screen and (min-width:600px){
  .caja-dibujo{
    width: 25%;
  }
  .dibujo-galeria{
    height: 150px;
  }
}
@media screen and (min-width:1000px){
  .caja-dibujo{
    width: 16.6666%;
  }
  .dibujo-galeria{
    height: 166.6666px;
  }
}
@media screen and (min-width:1250px){
  .dibujo-galeria{
    height: 208px;
  }
}
@media screen and (min-width:1500px){
  .dibujo-galeria{
    height: 250px;
  }
}
@media screen and (min-width:1750px){
  .dibujo-galeria{
    height: 291.6666px;
  }
}
@media screen and (min-width:2000px){
  .dibujo-galeria{
    height: 333px;
  }
}
