@import url('../../css/main.css');

.welcome {
  font-size: 1 rem;
  color: var(--color-neon-pink);
  text-align: center;
  border: 2px solid var(--color-light-gray);
  background: var(--color-black);
  padding: 14px 30px;
  margin: 30px 25% 30px 25%;
}

.gallery {
  display: grid;
  grid-gap: 2px;
}

@media only screen and (max-width: 40rem ) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 40.0625rem ) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 64rem ) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.dibujo-galeria{
  height: 400px;
}

.dibujo-galeria:hover{
  border: var(--color-black) 1.5px solid;
}
.dibujo-galeria{
  width: 100%;
  height: auto;
  object-fit: cover;
  align-content:flex-start;
}
