.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
}
.caja-contactos {
  border: 2px white solid;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
}
.contactos > a {
  font-size: 20px;
}
.contactos > a:hover {
  text-decoration: none;
}
.chat {
  display: flex;
  flex-direction: column;
  max-height: 600px;
}
.titulo-chat {
  font-size: 25px;
  border: 2px rgb(47, 116, 93) solid;
  background: rgb(35, 70, 40);
  border-bottom: none;
  border-radius: 20px 20px 0px 0px;
}
.titulo-chat > p {
  margin: 0px;
}
.caja-chat {
  overflow: auto;
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
}
.mensaje-chat {
  border: black 1px solid;
  border-radius: 20px;
}
.mensaje-chat > p {
  margin: 5px 12px;
  color: black;
}
.mensajes-usuario {
  background: #93dde4;
  text-align: end;
  border: 2px solid rgba(91, 140, 185, 0.815);
}
.mensajes-contacto {
  background: #50b86c;
  text-align: initial;
  border: 2px solid rgba(24, 48, 27, 0.815);
}

.caja-de-mensaje-por-enviar {
  display: flex;
  align-items: stretch;
}

.mensaje-por-enviar {
  background-color: #afeaf0;
  border: 1px solid black;
  flex: 2;
  resize: none;
  border-radius: 0px 0px 0px 20px;
  margin: 0px;
}
.boton-envio {
  border-left: transparent;
  border-radius: 0px 0px 20px 0px;
  margin: 0px;
}
