:root {
  --pink: #B172FF;
  --black: #000000;
  --gray-hard: #333;
  --gray-hard2: #343a40;
  --gray: #575757;
  --light-gray: #a8a8a867;
  --light-gray2: #A6A6A6;
  --light-blue: #448bd8;
  --light-blue2: #8cc0f8;
  --white: white;
  --white-solf: wheat;
  --light-green: #6d7a87;
  --red: #d33232;
}
