:root {
  --color-black: #000;
  --color-white: #fff;
  --color-neon-pink: #B172FF;
  --color-purple: #663399;
  --color-light-purple: #753faa;
  --color-gray: #333;
  --color-light-gray: #575757;
  --color-light-gray2: #A6A6A6;
  --color-light-gray3: #bcbcbc;
}
