:root {
  --px1: 0.0625;
  --px2: 0.125;
  --px3: 0.1875;
  --px4: 0.25;
  --px5: 0.3125;
  --px6: 0.375;
  --px7: 0.4375;
  --px8: 0.5;
  --px9: 0.5625;
  --px10: 0.625;
  --px11: 0.6875;
  --px12: 0.75;
  --px13: 0.8125;
  --px14: 0.875;
  --px15: 0.9375;
  --px16: 1;
  --px17: 1.0625;
  --px18: 1.125;
  --px19: 1.1875;
  --px20: 1.25;
  --px21: 1.3125;
  --px22: 1.375;
  --px23: 1.4375;
  --px24: 1.5;
  --px25: 1.5625;
  --px26: 1.625;
  --px27: 1.6875;
  --px28: 1.75;
  --px29: 1.8125;
  --px30: 1.875;
  --px31: 1.9375;
  --px32: 2;
  --px33: 2.0625;
  --px34: 2.125;
  --px35: 2.1875;
  --px36: 2.25;
  --px37: 2.3125;
  --px38: 2.375;
  --px39: 2.4375;
  --px40: 2.5;
  --px41: 2.5625;
  --px42: 2.625;
  --px43: 2.6875;
  --px44: 2.75;
  --px45: 2.8125;
  --px46: 2.875;
  --px47: 2.9375;
  --px48: 3;
  --px49: 3.0625;
  --px50: 3.125;
  --px51: 3.1875;
  --px52: 3.25;
  --px53: 3.3125;
  --px54: 3.375;
  --px55: 3.4375;
  --px56: 3.5;
  --px57: 3.5625;
  --px58: 3.625;
  --px59: 3.6875;
  --px60: 3.75;
  --px61: 3.8125;
  --px62: 3.875;
  --px63: 3.9375;
  --px64: 4;
  --px65: 4.0625;
  --px66: 4.125;
  --px67: 4.1875;
  --px68: 4.25;
  --px69: 4.3125;
  --px70: 4.375;
  --px71: 4.4375;
  --px72: 4.5;
  --px73: 4.5625;
  --px74: 4.625;
  --px75: 4.6875;
  --px76: 4.75;
  --px77: 4.8125;
  --px78: 4.875;
  --px79: 4.9375;
  --px80: 5;
  --px81: 5.0625;
  --px82: 5.125;
  --px83: 5.1875;
  --px84: 5.25;
  --px85: 5.3125;
  --px86: 5.375;
  --px87: 5.4375;
  --px88: 5.5;
  --px89: 5.5625;
  --px90: 5.625;
  --px91: 5.6875;
  --px92: 5.75;
  --px93: 5.8125;
  --px94: 5.875;
  --px95: 5.9375;
  --px96: 6;
  --px97: 6.0625;
  --px98: 6.125;
  --px99: 6.1875;
  --px100: 6.25;
}